@{
    ViewBag.Title = "關於我";
}

<h2>關於我</h2>

<div class="container">
    <div class="row">
        <div class="[ col-sm-6 col-md-offset-2 col-md-4 ]">
            <div class="[ info-card ]">
                <img style="width: 100%" src="https://scontent.ftpe7-3.fna.fbcdn.net/v/t1.0-9/11012970_1084810754869718_1008812084774530123_n.jpg?_nc_cat=108&oh=65403fac8033fe5ceaa5ec3a42cc023a&oe=5C5218E6" />
                <div class="[ info-card-details ] animate">
                    <div class="[ info-card-header ]">
                        <h1> 郭駿佑 </h1>
                        <h3>Jiun-Yo Guo </h3>
                    </div>
                    <div class="[ info-card-detail ]">
                        <!-- Description -->
                        <p>一名立志往程式設計師的方向前進的小菜鳥，雖然是非本科但是熱情滿滿，因工作需求學習了C#、Python，現在也為了學習MVC架構而嘗試做了一個包含網頁前後台的MVC架構網頁，證明了我對於學習新技術保持著絕對的熱誠絕不畏懼！</p>
                        <a href=" https://jyo35.wordpress.com/2017/03/05/protfolio%E4%BD%9C%E5%93%81%E9%9B%86/" >作品集及學習紀錄整理</a>
                        <div class=" social">
                            <a href="https://www.facebook.com/JiunYu238" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                            <a href="https://github.com/Jyo238" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>
                            @*<a href="https://plus.google.com/u/0/115077481218689845626/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>*@
                            @*<a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>*@
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
